googletest
lib
CMakeFiles
bin/*
!bin/nulascript
build/**
.vscode/*
!.vscode/tasks.json
ctests/*
!ctests/tests.cc
!ctests/CMakeLists.txt
nulascript/repl/build/*
!nulascript/repl/build/CMakeLists.txt
!nulascript/repl/build/main.cc
~$thesis.docx
nulascript/interpreter/build/*
!nulascript/interpreter/build/CMakeLists.txt
!nulascript/interpreter/build/main.cc
__pycache__
